<h2>
  <%= link_to "Login using Facebook", '/auth/facebook' %>
</h2>

 <p>
   Already have a Little Books account? <%= link_to "Login", new_session_path %>.
 </p>

<h3>
  Or create a Little Books account:
</h3>
<%= render "shared/errors", layout: false %>

<%= form_for(:user, url: users_path) do |f| %>
<%= f.label :name, "Name" %><br>
<%= f.text_field :name, placeholder: 'Name'%>
<p>
<%= f.label :email, "Email" %><br>
<%= f.text_field :email, placeholder: 'me@email.com' %>
</p>
<%= f.label :password, "Password" %><br>
<%= f.password_field :password, placeholder: '********'%>
<p>
<%= f.submit "Signup" %>
</p>
<%end%>
