 <h1>
   Welcome to Little Books
 </h1>

 <h2 class="num-alt">
   <%= link_to "Log In with Facebook", '/auth/facebook' %>
   <%= link_to "Log In with Little Books", new_session_path %>
 </h2>

<h3>
  Or create a Little Books account:
</h3>
<%= render "shared/errors", layout: false %>

<%= form_for(:user, url: users_path) do |f| %>
<%= f.label :name, "Name" %><br>
<%= f.text_field :name, placeholder: 'Name'%>
<p>
<%= f.label :email, "Email" %><br>
<%= f.text_field :email, placeholder: 'me@email.com' %>
</p>
<%= f.label :password, "Password" %><br>
<%= f.password_field :password, placeholder: '********'%>
<p>
<%= f.submit "Sign Up" %>
</p>
<%end%>
