<div class="user_signup">
<h1>Welcome Please signup!<h1>
<%= form_for @user do |f| %>
<%= f.text_field :name, placeholder: 'Name'%>
<p>
<%= f.text_field :email, placeholder: 'Email' %>
</p>
<%= f.password_field :password, placeholder: 'Password'%>
<p>
<%= f.submit %>
</p>
<%end%>
</div>