
<% if is_user? %>
  <h1>
    Hello <%= @user.name %>
  </h1>
<% else %>
  <h1>
    <%= @user.name %>'s Profile
  </h1>
<% end %>

<% if @mytales.any? %>
  <% @mytales.each_with_index do |tale, num| %>
    <div class="section">
      <div class="col span_1_of_4">
        <p>
          <%= image_tag(tale.mytale_image.people_image.url) %>
        </p>
      </div>
      <div class="col span_3_of_4">
        <h2>
          <%= tale.title %>
        </h2>
        <span class="num-alt">
          <%= link_to "Read", read_story_mytale_path(story_id: tale.story, id: tale.id) %> <%= link_to "Print", print_story_mytale_path(story_id: tale.story, id: tale.id), class: "print-link" %>
          <% if is_owner? %>
          <%= link_to "Edit", edit_story_mytale_path(story_id: tale.story, id: tale.id) %><%= link_to "Delete", story_mytale_path(story_id: tale.story, id: tale.id), method: :delete %>
          <% end %>
        </span>
        <p>
          <%= tale.summary %>
        </p>
        <%= link_to "View story details", story_mytale_path(story_id: tale.story_id, id: tale.id) %>
      </div>
  </div>
<% end %>

<% else %>
  <% if is_user? %>
    <h2 class="num-alt">
      You haven't created any custom stories yet.
    </h2>
    <p class="num-alt">
      <%= link_to "Browse the library to begin customizing", stories_path %>
    </p>
  <% else %>
    <%= @user.name %> doesn't have any stories yet.
  <% end %>
<% end %>
