<h2><%= @user.name %></h2>

<% if @mytales.any? %>
  <% @mytales.each_with_index do |tale, num| %>
  <% if num == 0 || num % 2 == 0 %>
    <div class="section">
      <div class="col span_1_of_2">
        <h3><%= tale.title %></h3>
        <%= tale.summary %> <br>
        <%= link_to "Read this tale", story_mytale_path(story_id: tale.story_id, id: tale.id) %>
      </div>
  <% else %>
    <div class="col span_1_of_2">
      <h3><%= tale.title %></h3>
      <%= tale.summary %> <br>
      <%= link_to "Read this tale", story_mytale_path(story_id: tale.story_id, id: tale.id) %>
    </div>
  </div>
  <% end %>
<% end %>
<% end %>