<% @stories.each_with_index do |story, num| %>
  <% if num == 0 || num % 2 == 0 %>
    <div class="section">
      <div class="col span_1_of_2">
        <h3><%= story.title %></h3>
        <%= story.summary %> <br>
        <%= link_to "Customize this story", new_story_mytale_path(story.id) %>
      </div>
  <% else %>
    <div class="col span_1_of_2">
      <h3><%= story.title %></h3>
      <%= story.summary %> <br>
      <%= link_to "Customize this story", new_story_mytale_path(story.id) %>
    </div>
  </div>
  <% end %>
<% end %>