<% @stories.each do |story| %>
  <div class="section">
    <div class="col span_1_of_2">
      <%= image_tag story.background_image.url, width: '320px' %>
    </div>
    <div class="col span_1_of_2">
      <h2>
        <%= story.title %>
      </h2>
      <p>
        Summary: <%= story.summary %>
      </p>

      <p>
        Main character: <%= story.character.name %>, <%= story.character.gender.sex %>
      </p>

      <p>
        <%= link_to "Customize #{story.title}", new_story_mytale_path(story.id) %>
      </p>
    </div>
  </div>
<% end %>