<h1>
   Create your custom story
</h1>

<p class="center">
  <%= image_tag @story.background_image.url %>
</p>


<%= form_for ([@story, @mytale]) do |f| %>
  <div class="section">
    <div class="col span_1_of_3">
      <%= f.label :title, "Story title" %> <br>
      <%= f.text_field :title, value: "#{@story.title}", autofocus: true %>
    </div>

    <div class="col span_1_of_3">
      <%= label_tag :name, "Main character's name" %> <br>
      <%= text_field_tag :name, "", value: "#{@story.character.name}" %>
    </div>

    <div class="col span_1_of_3">
      <%= label_tag :gender, "Main character's gender" %> <br>
      <%= select_tag :gender, options_from_collection_for_select(@gender, "id", "sex"), { :prompt => 'Gender?', :include_blank => false } %>
    </div>
  </div>
  <div class="section">
    <span class="jsError"></span> <br>
    <%= f.button "Customize" %>
    <%= f.hidden_field :content, value: @story.content %>
    <%= f.hidden_field :story_id, value: @story.id %>
    <%= f.hidden_field :summary, value: @story.summary %>
    <h2 class="mytale-title"><%= @story.title %></h2>
    <p class="word-play">... <%= @story_paged%> ...</p>
  <% end %>
  </div>

