 <div class="section">
  <div class="col span_1_of_7 num-alt xlarge center">
    <% if params[:slice] && params[:slice] != "1" %>
      <%= link_to "<", "?slice=#{params[:slice].to_i-1}", :remote => true %>
    <% end %>
  </div>
  <div class="col span_5_of_7">
      <div class="meter">
      <div class="progress center" style="width:<%= get_progress_percentage %>">
        <span class="xsmall">
          <% if params[:slice] && params[:slice] != "1" %>
            <%= params[:slice] %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="reader">
    <%= @story_paged %>
  </div>
  </div>
  <div class="col span_1_of_7 num-alt xlarge center">
    <% if params[:slice] %>
      <%= link_to ">", "?slice=#{params[:slice].to_i+1}", :remote=> true %>
    <% else %>
      <%= link_to ">", "?slice=2", :remote=> true %>
    <% end %>
  </div>
</div>

<div class="section center small">
  <div class="col span_1_of_7"></div>
  <div class="col span_5_of_7">
    <% if params[:slice] && params[:slice] != "1" %>
      <%= link_to "Back to beginning", "?slice=1", :remote => true %>
      <% end %>
  </div>
  <div class="col span_1_of_7"></div>
</div>