<div class="section">
  <div class="col span_1_of_7">
    <% if params[:slice] && params[:slice] != "1" %>
      <%= link_to image_tag("prev.png"), "?slice=#{params[:slice].to_i-1}", :remote => true %>
    <% end %>
  </div>
  <div class="col span_5_of_7 reader">
    <%= @story_paged %>
  </div>
  <div class="col span_1_of_7">
    <% if params[:slice] %>
      <%= link_to image_tag("next.png"), "?slice=#{params[:slice].to_i+1}", :remote=> true %>
    <% else %>
      <%= link_to image_tag("next.png"), "?slice=2", :remote=> true %>
    <% end %>
  </div>
</div>

<div class="section read-menu small">
  <% if params[:slice] && params[:slice] != "1" %>
    <%= link_to "Back to beginning", "?slice=1", :remote => true %>

  <p></p>

  <%= slice_entries_info @story_paged %>
  <% end %>
</div>