<%= form_for ([@story, @mytale]) do |f| %>
  <div class="section">
    <div class="col span_1_of_3">
      <%= f.label :title, "Title" %> <br>
      <%= f.text_field :title, placeholder: "#{@story.title}" %>
    </div>

    <div class="col span_1_of_3">
      <%= label_tag :name, "Main Character Name" %> <br>
      <%= text_field_tag :name, "", placeholder: "#{@character.name}" %>
    </div>

    <div class="col span_1_of_3">
      <%= label_tag :gender, "Gender" %> <br>
      <%= select_tag :gender, options_from_collection_for_select(@gender, "id", "sex") %>
    </div>
  </div>
  <div class="section">
    <%= f.submit "Customize" %>
    <%= f.hidden_field :content, value: @story.content %>
    <%= f.hidden_field :story_id, value: @story.id %>
    <%= f.hidden_field :summary, value: @story.summary %>
  <% end %>
  </div>


<h2><%= @story.title %></h2>

<p>
  <%=@story.content%>
</p>
