<div class="section">
  <div class="col span_1_of_5">
    <%= link_to 'Print', '#', class: "print"%>
  </div>

  <div class="col span_3_of_5 center">
    <%= image_tag @mytale.story.background_image.url %>
    <div class="kid">
      <%= image_tag(@image.url) %>
    </div>
    <h1>
      <%= @mytale.title %>
    </h1>
    <p class="print-story">
      <%= @mytale.content %>
    </p>
  </div>

  <div class="col span_1_of_5">
    <!-- space -->
  </div>
</div>

