<div class="section small read-menu">
    <ul class="read">
      <li class="read"><%= link_to "Home", root_path %></li>
      <li class="read"><%= link_to "Print", print_story_mytale_path(story_id: @mytale.story_id, id: @mytale.id), :onclick=>"window.open(this.href,'print', 'height=600, width=600');return false;"%></li>
      <% if current_user %>
        <li class="read"><%= link_to "My profile", user_path(current_user.id) %></li>
      <% end %>
      <li class="read"><%= link_to "Story details", story_mytale_path(story_id: @mytale.story_id, id: @mytale.id) %></li>
    </ul>
</div>

<div class="section reader-title">
    <h2 class="center">
      <%= @mytale.title %>
    </h2>
</div>

<div class="section">
  <div class="col span_1_of_5">
    <!-- Empty div for spacing -->
  </div>

  <div class="col span_3_of_5 center">
    <%= image_tag @mytale.story.background_image.url %>

    <div class="kid">
      <%= image_tag @image.url %>
    </div>
  </div>
  </div>
  <div class="col span_1_of_5">
    <!-- Empty div for spacing -->
  </div>
</div>

<div class="section">
  <div class="col span_1_of_5">
    <!-- Empty div for spacing -->
  </div>

  <div class="col span_3_of_5" id="paged-content">
      <%= render partial: "page" %>
  </div>

  <div class="col span_1_of_5">
    <!-- Empty div for spacing -->
  </div>
</div>