<h4> Original Story: <%= @story.title%></h4>
<h4> Original Summary: <%= @story.summary%></h4>
<h4> Original Content: <%= @story.content%></h4>
<h4> New Story: <%= @mytale.title%></h4>
<h4> New Summary: <%= @mytale.summary%></h4>
<h4> New Content: <%= @mytale.content%></h4>
