<h2>
  Congratulations! You created a story about <%= @mytale.mytales_character.name %>.
</h2>

<h2>
  <%= link_to "Read '#{@mytale.title}' now!", read_story_mytale_path(story_id: @mytale.story_id, id: @mytale.id), { class: "dark" }  %>
</h2>

<div class="section">
  <div class="col span_1_of_3">
    <p class="center">
      <%= image_tag(@image.url) %>
    </p>
  </div>
  <div class="col span_2_of_3">

    <h3>
      About <%= @mytale.title %>
    </h3>
    <p>
      Starring: <%= @mytale.mytales_character.name %>
    </p>
    <p>
      Summary: <%= @mytale.story.summary %>
    </p>

    <h3>
      Story Options
    </h3>
    <p>
      <%= link_to "Print", print_story_mytale_path(story_id: @mytale.story_id, id: @mytale.id), :onclick=>"window.open(this.href,'print', 'height=600, width=600');return false;"%>
    </p>
    <p>
      <%= link_to "Read", read_story_mytale_path(story_id: @mytale.story_id, id: @mytale.id) %><% if current_user && (current_user == @mytale.user) %>, <%= link_to "edit", edit_story_mytale_path(story_id: @mytale.story_id, mytale_id: @mytale.id) %> or <%= link_to "delete", story_mytale_path(story_id: @mytale.story_id, mytale_id: @mytale.id), method: :delete %>
    <% end %>
    this story
    </p>
  </div>

  <div class="section">
    <p class="small">
      <% if !current_user %>
      You can always access this story at: <%= link_to "#{story_mytale_url(story_id: @mytale.story_id, id: @mytale.id)}", story_mytale_url(story_id: @mytale.story_id, id: @mytale.id) %>
      <% else %>
      View this story and others you've created on your <%= link_to "profile page", user_path(current_user.id) %>.
      <% end %>
    </p>
  </div>
</div>
