<!DOCTYPE html>
<html>
<head>
  <title>LittleBooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  </head>
<body>


<div id="container">
  <div class="col span_1_of_11">
    <!-- Empty div for spacing -->
  </div>

  <div class="col span_1_of_11">
    <p class="small logo">
      Little Books. <br>
      <%= @story.title %> <br><br>
      <% if current_user %>
        <%= link_to "My profile", user_path(current_user.id) %>
      <% end %>
      <%= link_to "Home", root_path %>
    </p>
  </div>

  <div class="col span_1_of_11">
    <!-- Empty div for spacing -->
  </div>

  <div class="col span_5_of_11">
    <nav>
      <%= slice @story_paged %>
    </nav>
    <div class="reader">
      <p>
        <%= yield %>
      </p>
    </div>
  </div>

  <div class="col span_3_of_11">
    <!-- Empty div for spacing -->
  </div>
</div>
</body>
</html>
